{## templates/security/password_reset_requested ##}
{% extends 'base.html.twig' %}

{% block title %}Password Reset Requested{% endblock %}

{% block body %}
    <h1>Password Reset Requested</h1>
    <p>A password reset link has been sent to your email. Please check your inbox.</p>
{% endblock %}