{## templates/security/reset_password_email ##}
{% block body %}
    <h1>Reset Your Password</h1>
    <p>Click the link below to reset your password:</p>
    <a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
{% endblock %}