{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    {% if app.user %}
        <p>Vous êtes déjà connecté en tant que {{ app.user.username }}. Vous devez d'abord vous déconnecter pour réinitialiser votre mot de passe.</p>
    {% else %}
        <form action="{{ path('reset_password') }}" method="post">
            {% if app.request.session.flashBag.has('error') %}
                <div class="alert alert-danger">{{ app.request.session.flashBag.get('error')[0] }}</div>
            {% endif %}
            {% if app.request.session.flashBag.has('success') %}
                <div class="alert alert-success">{{ app.request.session.flashBag.get('success')[0] }}</div>
            {% endif %}
            <label for="email">Adresse e-mail :</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Envoyer</button>
        </form>
    {% endif %}
{% endblock %}

