{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}Confirme Reset code{% endblock %}

{% block main_page %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper login-container d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-3 mx-auto">
                <div class="auth-form-light text-left py-3 px-4 px-sm-3">
                    <div class="brand-logo text-center">
                        <img src="{{ asset('images/logo/Logo-full-dark.png') }}" class="text-center"/>
                    </div>

                    {% if app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ app.flashes('error')[0] }}
                    </div>
                    {% endif %}

                    <form method="post">
                        <div class="form-group">
                            <input type="text" id="token" placeholder="Code de vérification" name="token" class="form-control form-control-lg" required>
                        </div>
                        <button type="submit" class="btn btn-block login-btn btn-primary btn-sm w-100 font-weight-medium auth-form-btn">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}

