{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block main_page %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper login-container d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-3 mx-auto">
                <div class="auth-form-light text-left py-3 px-4 px-sm-3">
                    <div class="brand-logo text-center">
                        <img src="{{ asset('images/logo/Logo-full-dark.png') }}" class="text-center"/>
                    </div>

                    {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">{{ flash_message }}</div>
                    {% endfor %}

                    <form method="post" action="{{ path('reset_password_submit') }}">
                        <div class="form-group">
                            <input type="password" placeholder="Nouveau mot de passe" id="password" name="new_password" class="form-control form-control-lg" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirmer le mot de passe" id="password_confirmation" name="confirm_password" class="form-control form-control-lg" required>
                        </div>
                        <button type="submit" class="btn btn-block login-btn btn-primary btn-sm w-100 font-weight-medium auth-form-btn">Réinitialiser le mot de passe</button>
                        <div class="my-2 d-flex justify-content-between align-items-center">
                            <a href="{{ path('app_login') }}" class="auth-link text-black">Se connecter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}

