{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block main_page %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper login-container d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-3 mx-auto">
                <div class="auth-form-light text-left py-3 px-4 px-sm-3">
                    <div class="brand-logo text-center">
                        <img src="{{ asset('images/logo/Logo-full-dark.png') }}" class="text-center"/>
                    </div>

                    {% if app.request.session.flashBag.has('error') %}
                    <div class="alert alert-danger">{{ app.request.session.flashBag.get('error')[0] }}</div>
                    {% endif %}
                    {% if app.request.session.flashBag.has('success') %}
                    <div class="alert alert-success">{{ app.request.session.flashBag.get('success')[0] }}</div>
                    {% endif %}

                    <form class="pt-3" method="post">
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="Adresse e-mail" class="form-control form-control-lg" required>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-block login-btn btn-primary btn-sm w-100 font-weight-medium auth-form-btn">Envoyer</button>
                        </div>
                        <div class="my-2 d-flex justify-content-between align-items-center">
                            <a href="{{ path('app_login') }}" class="auth-link text-black">Se connecter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}

