{% extends 'backoffice/base_admin.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Les utilisateurs</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de l'entreprise</th>
                        <th>Actif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in paginator.items %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td>
                                <a href="{{ path('admin_company_update_statut', {id: company.id}) }}" class="badge badge-{{ company.isEnabled ? 'success' : 'warning' }}">{{ company.isEnabled ? 'OUI' : 'NON' }}</a>
                            </td>
                            <td><label class="badge badge-warning">In progress</label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'backoffice/template/_paginator.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}