<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Asera{% block title %} | Bienvenue{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('bo_entry') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('bo_entry') }}
    {% endblock %}
</head>
<body  class="with-welcome-text">
<div class="container-scroller">
    {% block main_page %}
        {% include 'backoffice/template/_pro_banner.html.twig' %}
        {% include 'backoffice/template/_nav_bar.html.twig' %}
        <div class="container-fluid page-body-wrapper">
            {% include 'backoffice/template/_theming.html.twig' %}
            {% include 'backoffice/template/_side_nav_right.html.twig' %}
            {% include 'backoffice/template/_side_nav.html.twig' %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'backoffice/template/_footer.html.twig' %}
    {% endblock %}
</div>
</body>
</html>
