{# templates/reset_password.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <form action="{{ path('reset_password') }}" method="post">
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
