{# templates/reset_password_form.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <form action="{{ path('reset_password_save') }}" method="post">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
