{% block subject %}
   Code de vérification 
{% endblock %}

{% block body %}
    <p>Bonjour,</p>


    <p>Votre code de vérification est : {{ token }}</p> 

    <p>Cordialement,<br>Asera Team</p>
{% endblock %}

