{% block subject %}
    Réinitialisation du mot de passe
{% endblock %}

{% block body %}
    <p>Bonjour,</p>

    <p>Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>

    <p><a href="{{ resetPasswordUrl }}">Réinitialiser le mot de passe</a></p>

    <p>Token de réinitialisation : {{ token }}</p> {# Ajout de cette ligne pour afficher le token #}

    <p>Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet e-mail.</p>

    <p>Cordialement,<br>L'équipe du site</p>
{% endblock %}

