<div class="row p-0 m-0 proBanner" id="proBanner">
    <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding px-3 d-flex align-items-center justify-content-between">
            <div class="ps-lg-3">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and
                        more with
                        this template!</p>
                    <a href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank"
                       class="btn me-2 buy-now-btn border-0">Buy Now</a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <a href="https://www.bootstrapdash.com/product/star-admin-pro/"><i
                            class="ti-home me-3 text-white"></i></a>
                <button id="bannerClose" class="btn border-0 p-0">
                    <i class="ti-close text-white"></i>
                </button>
            </div>
        </div>
    </div>
</div>