<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item nav-category">ADMINISTRATION</li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">Utilisateurs</span>
            </a>
        </li>
        <li class="nav-item nav-category">API</li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('api_doc') }}">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Documentation API</span>
            </a>
        </li>
    </ul>
</nav>